<%- include('./template/head')-%>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Sslcommerz Payment Gateway Example</h1>
        <p class="lead">This is a sample app for Sslcommerz Payment Gateway with Expressjs and Node.js framework
        </p>

    </main>

</div>
</body>
</html>