<%- include('./template/head')-%>
<body class="text-center"">
<div class="ui container">
    <main role="main" class="center">
        <h1 class="cover-heading">Payment Cancel</h1>
    </main>

</div>
</body>
</html>